@using DAL.Models
@model System.Collections.Generic.IEnumerable<Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <br />
    @Html.Label("Name")
    @Html.TextBox("PostName")
    <br />

        <br />
    @Html.Label("Text")
    @Html.Text("Text")
    <br />
}
<table>

</table>